doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.header 
      h4
        a.headLink(href="http://localhost:3000/") Home
        a.headLinkEnd(href="http://localhost:3000/fun") Fun
    block content
